h2{
	font-size: 50px;
	font-weight: bold;
	text-indent: 450px;
	text-decoration: underline;
}
#start{
	background-color: #000;
	color:#ec0a9e;
	font-size: 30px;
	position: absolute; left: 100px;
}
#round{
	background-color: #000;
	color: #ec0a9e;
	font-size: 30px;
	position: relative; left: 1100px;
}
#container{
	border: 6px solid black;
	height: 600px;
	width: 600px;
	background-image: url(/img/colorful_aurora.jpg);
	margin-left: 320px;
}

#square1{
	background-color:#ec0a9e ;
	float: left;
}
#square2{
	background-color: #81d8d0;
	float: left;
}
#square3{
	background-color: #5a1eb3;
	float: right;
}
#square4{
	background-color: #ccff00;
	float: right;
}





.allSquares{
	height: 250px;
	width: 250px;
	margin: 25px;
	opacity: .4;
	border-radius: 10px;

}